<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>EZProxy URL Database</title>
        <meta name="description" content="A user-editable database for EZProxy URLs used by colleges and universities.">
        <meta name="author" content="Tom Wambold">
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-22909657-2']);
            _gaq.push(['_trackPageview']);
            (function() {
                 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         </script>
    </head>
    <body>
        <header>
            <h1>EZProxy URL Database</h1>
        </header>
        {% block body %}
        {% endblock %}
        <footer>
            <p>Copyright &copy; 2012 Tom Wambold; <a href="http://github.com/tom5760/ezproxy-db">Code on GitHub</a></p>
        </footer>
    </body>
</html>

